{{define "time"}}
<doctype html>
<html>
<head>
<style>
p {font-size: xx-large}
span.time {color: red}
</style>
</head>
<body>
<p>The time is now 
<span class="time">{{.CurrentTime}}
</span>{{.Name}}.</p>
</body>
</html>
{{end}}